<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            $(".btn btn-outline-success").on("click", function () {
                //태그 이름     ~동작되면  ~ 실행 동작
                alert("데이터를 가져오고 있습니다.\n로딩이 완료될 때까지 잠시 대기해주세요")
            });
        })
    </script>
    <title>인플루언서 찾기</title>
    <style>
        #logo{
            text-align: center;
            margin-top: 40px;
        }
        .footer{
            background-color: gray;
        }
        .float-right{
            margin-right: 10px;
        }
    </style>
</head>
{% load static %}
<body>   
    <div id="logo">
        <a href="{% url 'home' %}"><img style="width: 30%;" src="{% static 'images/cellystory_logo2.jpg' %}" alt=""></a>
    </div>

    {% if user.is_active == True %}
    <ul style="list-style: none; display: flex; justify-content: center;">
        <li>
            <div style="margin-top: 20px; text-align: center; ">
                <p style="font-size: 60px; font-weight: bolder;">{{contract.name}}</p>
            </div>
            <div style="margin-top: 20px; text-align: center; ">
                <p style="font-size: 20px; font-weight: bolder;">{{contract.start_date}} ~ {{contract.end_date}}</p>
            </div>
        </li>
    </ul>
    
    <div style="margin-top: 50px; text-align: center;display: flex;justify-content: center;" class="table">
      <table style="width: 1000px;">
        <thead id="title">
            <tr>
                <th>ID</th>
                <th>직원명</th>
                <th>Celly 인스타 계정</th>
                <th>인플루언서</th>
                <th>DM 내용</th>
                <th>상태</th>
                <th>수정</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
        <script>
            var index = 0;
        </script>
            {% for i in record %}
            <script>index +=1;</script>
            <tr>
                <td><script>document.write(index)</script></td>
                <td>{{account.nickname}}</td>
                <td>{{i.insta_id}}</td>
                <td><a href="https://www.instagram.com/{{i.influencer}}">{{i.influencer}}</a></td>
                <td>{{i.feed_condition}}</td>
                {% if i.is_confirmed == False %}
                <td>대기</td>
                {% else %}
                <td style="color: red; font-weight: bolder;">컨펌</td>
                {% endif %}

                <td>
                {% if account.position == '팀장' or account.position == '이사'%}
                    {% if i.is_confirmed == False %}
                    <a href="{% url 'confirm' i.id contract.id %}">컨펌</a>
                    {% else %}
                    <a href="{% url 'wait' i.id contract.id %}">대기</a>
                    {% endif %}
                {% endif %}
                    <a style="color: red;" href="{% url 'delete' i.id contract.id %}">삭제</a>
                </td>
            </tr>
            {% endfor %}
            <form method="POST" action="">
                {% csrf_token %}
                <td></td>
                <td>{{account.nickname}}</td>
                <td><input type="text" placeholder="ex) celly11" name="insta_id"></td>
                <td><input type="text" name="influencer"></td>
                <td><textarea cols="30" rows="3" name="feed_condition"></textarea></td>
                <td></td>
                <td><button type="submit">저장</button></td>
            </form>
        </tbody>
    </table>
    </div>
    {% endif %}
    {% if user.is_active == False %}
        <div style="text-align: center;">
        <br>
        <br>
        <br>
        <h1>잘못된 접근입니다</h1>
        <br>
        <a href="{% url 'login' %}">로그인 창으로</a>
        </div>
    {% endif %}

</body>

    

</html>